# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Environment
.env

# Database local
*.db

# Storage uploads
storage/

# Node
argos-frontend/node_modules/
argos-frontend/.next/

# Logs
*.log

# OS
.DS_Store
Thumbs.db